        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: white;
            transition: margin-left 0.3s ease-in-out;
        }
        .menu-toggle {
            background-color: #A00E1A;
            color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
            font-size: 18px;
            position: fixed;
            top: 10px;
            left: 10px;
            z-index: 3;
            transition: background-color 0.3s ease-in-out;
        }
        .menu-toggle.active {
            background-color: #003366;
        }
        .sidebar {
            width: 250px;
            height: 100vh;
            background-color: #003366;
            color: white;
            position: fixed;
            padding-top: 20px;
            transform: translateX(-100%);
            transition: transform 0.3s ease-in-out;
            z-index: 2;
        }
        .sidebar.active {
            transform: translateX(0);
        }
        .sidebar h2 {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 10px;
            color: white;
        }
        .sidebar ul {
            list-style: none;
            padding: 0;
        }
        .sidebar ul li {
            padding: 15px;
            text-align: center;
            cursor: pointer;
            transition: background 0.3s;
        }
        .sidebar ul li:hover {
            background-color: #C8102E;
        }
        .sidebar ul li a {
            color: white;
            text-decoration: none;
            display: block;
        }
        .header {
            background-color: #A00E1A;
            color: white;
            text-align: center;
            padding: 20px;
            font-size: 24px;
            font-weight: bold;
            margin-top: 0;
        }
        .container {
            padding: 20px;
            max-width: 1000px;
            margin: auto;
            transition: margin-left 0.3s ease-in-out;
        }
        
        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            z-index: 4;
            justify-content: center;
            align-items: center;
        }
        .overlay-content {
            background-color: white;
            padding: 40px 20px 20px; 
            border-radius: 10px;
            width: 80%;
            max-width: 500px;
            max-height: 80vh; 
            overflow-y: auto; 
            position: relative;
            margin-top: 20px; 
        }
        .close {
            position: fixed; 
            top: 20px;
            right: 20px;
            font-size: 30px;
            cursor: pointer;
            color: #A00E1A;
            z-index: 5; 
            background-color: white; 
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
        }
        .close:hover {
            color: #C8102E;
            background-color: #f0f0f0; 
        }
        .justified-text {
            text-align: justify;
            text-justify: inter-word;
        }
        .blue-button {
            background-color: blue;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
            height: 42px;
        }
        .blue-button:hover {
            background-color: darkblue;
        }

        .search-container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px; 
            margin: 20px;
        }

        .large-label {
            font-size: 18px;
            font-weight: bold;
        }

        .large-input {
            font-size: 16px;
            padding: 10px;
            width: 250px;
            text-align: center;
            border-radius: 5px;
            border: 1px solid #ccc;
            height: 20px;
        }

         .search-button {
            background-color: white;

            color: black;
            padding: 10px 20px;
            border: 1px solid #003366;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
            height: 42px; 
        }
